* {
}

html {
}

body {
  font-family: Lora, serif;
}

/********************************************************************/

.container {
  margin: auto;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 750px;
    width: 80%;
  }
}

/********************************************************************/

.header {
  display: flex;
  flex-wrap: wrap;
  margin: 4px;
  padding: 4px;
}

.header a {
  color: inherit;
  text-decoration: none;
}

.logo {
  color: darkslategray;
  text-align: center;
  width: 100%;
}

.title {
  color: black;
  text-align: center;
  width: 100%;
}

.title h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.title p {
  color: darkslategray;
  margin-top: 0;
  padding-top: 0;
}

@media screen and (min-width: 600px) {
  .header {
    flex-wrap: nowrap;
  }

  .logo {
    text-align: center;
    width: 20%;
  }

  .title {
    text-align: left;
    width: 80%;
  }
}

/********************************************************************/

.content {
  margin: 4px;
  padding: 4px;
}

.main {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .content {
    padding-left: 20%;
  }

  .main {
    width: 80%;
  }
}

/********************************************************************/

.footer {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 4px;
  padding: 4px;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.license {
  text-align: center;
  width: 100%;
}

.links {
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .footer {
    flex-wrap: nowrap;
  }

  .license {
    text-align: center;
    width: 20%;
  }

  .links {
    text-align: center;
    width: 64%;
  }
}

/********************************************************************/

.post-title {
  color: black;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}

.post-meta {
  color: darkslategray;
  margin-top: 0;
  padding-top: 0;
}

.post-author, .post-date, .post-tags {
  display: block;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .post-author, .post-date, .post-tags {
    text-align: left;
  }

  .post-title {
    text-align: left;
  }
}

/********************************************************************/

.error {
  text-align: center;
}
