<!doctype html>

<html lang="es">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="{{ site.data.people["jpvillaisaza"].name }}">
    <meta name="description" content="{{ site.description }}">

    <title>
      {{ site.title }}: {{ site.description | downcase }}
    </title>

    {% feed_meta %}
    {% include links.html %}

  </head>

  <body>

    <div class="container">

      <header class="header">
        <div class="logo">
          <i class="fa fa-code fa-5x" aria-hidden="true"></i>
        </div>
        <div class="title">
          <h1>
            <a href="/">
              {{ site.title }}
            </a>
          </h1>
          <p>
            {{ site.description | downcase }}
          </p>
        </div>
      </header>

      <div class="content">
        <div class="main">
          {{ content }}
        </div>
      </div>

      <footer class="footer">
        <div class="license">
          <i class="fa fa-creative-commons fa-2x fa-fw" aria-hidden="true"></i>
        </div>
        <div class="links">
          <address>
            <a href="https://www.facebook.com/ergonautas/" aria-label="Facebook">
              <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/ergonautas/ergonautas.github.io" aria-label="GitHub">
              <i class="fa fa-github fa-2x fa-fw" aria-hidden="true"></i>
            </a>
            <a href="https://ergonautas.slack.com/" aria-label="Slack">
              <i class="fa fa-slack fa-2x fa-fw" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/ergonautas" aria-label="Twitter">
              <i class="fa fa-twitter fa-2x fa-fw" aria-hidden="true"></i>
            </a>
          </address>
        </div>
      </footer>

    </div>

    {% include scripts.html %}

  </body>

</html>
